@font-face {
    font-family: Graphik-Regular;
    src: url(../fonts/Graphik-Regular.woff);
}

@font-face {
    font-family: Graphik-Medium;
    src: url(../fonts/Graphik-Medium.ttf);
}

@font-face {
    font-family: Theinhardt;
    src: url(../fonts/Theinhardt-Lt.woff);
}

@font-face {
    font-family: Tiempos;
    src: url(../fonts/TiemposHeadline-Semibold.woff);
}

/* -------
Globale styles
---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
}

h3 {
    font-family: Tiempos;
    font-size: 2.5rem;
    padding: 3vh 3vw;
}

h4 {
    font-family: Graphik-Medium;
    padding: 0 0 1vh 3vw;
}

.text {
    font-family: Theinhardt;
    padding: 0 0 3vh 3vw;
    color: #96999b;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

body {
    margin: 3vh auto;
    max-width: 1440px;
}

/* -------
Header styles
---------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5vh;
    position: relative;
    margin: 0 5vw;
}

/* Es gibt zwei Klassen für das selbe Element, kann durch Klick getogglt werden, siehe js */
.headerButtonGetStartedIsNotBlack {
    font-family: Graphik-Regular;
    color: black;
    text-decoration: none;
    padding: 1vh 4vw;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}

.headerButtonGetStartedIsBlack {
    font-family: Graphik-Regular;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 1vh 4vw;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}
/* --- */

nav a {
    font-family: Graphik-Regular;
    color: black;
    text-decoration: none;
    margin: 0 1vw;
    font-size: 0.8rem;
}

h2 { /* Logo oben in der Mitte */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    text-align: center;
    width: 100%;
    font-family: Tiempos;
}

/* -------
Main styles
---------- */
h1 {  /* Titel der Seite */
    text-align: center;
    padding: 10vh 0 70vh 0;
    background-image: url("../img/home_hero.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    font-family: Graphik-Regular;
}


/* ------Section Price------ */
.sectionPrice {
    display: flex;
    justify-content: space-between;
    padding: 20vh 0;
    width: 80vw;
    max-width: 900px;
    margin: 0 auto;
}

.sectionPrice p {
    width: 70%;
    padding-right: 5vw;
    font-family: Graphik-Medium;
    line-height: 1.5rem;
}

.sectionPrice article p {
    font-family: Theinhardt;
    padding: 2vh 0;
}

.sectionPrice article p:nth-of-type(1) {
    font-size: 4rem;
}

.sectionPrice article p:nth-of-type(2) {
    font-size: 0.8rem;
    color: #a4a7ab;
    width: 80%;
    line-height: 1rem;
}


/* ------Section Deliverables------ */
.sectionDeliverables {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: 0 auto;
}

.sectionDeliverables img {
    width: 35vw;
}


/* ------Section How it works------ */
.sectionHowItWorks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: 15vh auto;
    background-color: #f1f1f4;
}

.sectionHowItWorks img {
    width: 35vw;
    max-height: 400px;
    object-fit: contain;
}

.sectionHowItWorks article {
    margin: 0 5vw;
}

ol {
    margin: 0 0 2vh 5vw;
}

li {
    font-family: Theinhardt;
    padding: 0 2vw;
    color: #96999b;
    line-height: 1.5rem;
    font-size: 1.2rem;
}


/* ------section Critique------ */
.sectionCritique {
    text-align: center;
}

.sectionCritique h3 {
    margin: 5vh 0;
}

.sectionCritiqueTextArticle p { /* Der Text wird zusätzlich durch die Klasse .text gestylt, diese hat aber ein padding, was hier nicht erscheinen soll. */
    padding: 0;
}


/* Image "28%" Positioning */
.sectionCritiqueImgArticle {
    padding: 10vh 0 20vh 0;
    margin: 0 auto;
    position: relative;
    max-width: 50vw;
}

.sectionCritiqueImgTwentyEight {
    width: 100%;
}

.sectionCritiqueImgArticle p {
    margin-left: 10px;
    width: 30vw;
    line-height: 2rem;
    font-family: Graphik-Medium;
    color: #96999b;
    font-weight: 900;
    text-align: left;
}

.spanDesktop { /* Die spans werden verwendet um den Text genau an dieser Stelle umbrechen zu lassen. Sieht besser aus. Es gibt einen zweiten span für mobile, wird unten gestylt. */
    display: block;
}

.sectionCritiqueImgGuy {
    width: 40vw;
    max-width: 600px;
    position: absolute;
    top: 40%;
}
/* --- */



/* -------
Footer styles
---------- */
footer {
    text-align: center;
    border-top: 1px solid #d0d1d3;
    padding-top: 10vh;
    width: 80vw;
    margin: auto;
}

footer p {
    font-family: Graphik-Medium;
    font-size: 0.8rem;
    padding-bottom: 5vh;
}

footer p::before {
    background-image: url('../img/costume_guy.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 10vw; 
    height: 15vh;
    content:"";
}

footer p a {
    color: black;
    text-decoration: none;
}


/* -------
Mobile styles
---------- */
@media screen and (max-width: 480px) {
    /* ------header------ */
    header {
        flex-direction: column;
        margin: 0 auto 5vh auto;
    }
    
    nav {
        padding: 7vh 0 4vh 0;
    }

    h1 {
        padding: 0 6vw 20vh 6vw;
        background-size: contain;
    }

    h3 {
        padding: 3vh 1vw;
    }

    .text {
        font-size: 1.0rem;
    }

    /* ------section Price------ */
    .sectionPrice {
        flex-direction: column;
        padding: 10vh 0;
    }

    .sectionPrice p {
        padding: 0; /* wird von Desktop aufgehoben */
        width: 100%; /* wurde für Desktop beschränkt, muss deshalb hier aufgehoben werden */
        text-align: center;
    }

    .sectionPrice article p:nth-of-type(1) {
        padding: 0; /* wird von Desktop aufgehoben */
        margin-top: 10vh;
    }
    
    .sectionPrice article p:nth-of-type(2) {
        padding: 0; /* wird von Desktop aufgehoben */
        margin-top: 3vh;
        width: 100%; /* wurde für Desktop beschränkt, muss deshalb hier aufgehoben werden */
    }

    /* ------section Deliverables------ */
    .sectionDeliverables {
        flex-direction: column;
    }

    .sectionDeliverables img {
        width: 60vw;
        padding: 5vh 0;
    }

    /* ------section How it works------ */
    .sectionHowItWorks {
        flex-direction: column-reverse;
        padding: 5vh 1vw;
        margin-top: 3vh;
    }

    .sectionHowItWorks img {
        padding-bottom: 5vh;
        width: 60vw
    }
    
    ol {
        margin-left: 10vw;
    }

    li {
        font-size: 1rem;
    }
    
    /* ------section Critique------ */
    .sectionCritiqueTextArticle {
        width: 70vw;
        margin: 0 auto;
    }

    .sectionCritiqueImgArticle {
        margin: 0 5vw 3vh 5vw;
        max-width: none; /* wird von Desktop aufgehoben */
        padding: 3vh 0;
    }

    .sectionCritiqueImgArticle p {
        width: 60vw;
        text-align: left;
    }

    .spanDesktop { /* Die spans werden verwendet um den Text genau an dieser Stelle umbrechen zu lassen. Sieht besser aus. Der Desktop span wurde oben bereits als block gesetzt. */
        display: inline;
    }

    .spanMobile {
        display: block;
    }

    /* ------section Footer------ */    

    footer p::before {
        width: 8vw; 
        height: 5vh;
    }   
}
